In [47]:
import numpy as np
import pandas as pd
import seaborn as sns

In [100]:
df= pd.read_csv("/Downloads/titanic.csv")
df.head()

FileNotFoundError: [Errno 2] No such file or directory: '/Downloads/titanic.csv'

In [49]:
df=df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Fare','Cabin','Embarked'],axis='columns')
df.head()

   Survived  Pclass     Sex   Age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

In [52]:
X=df[['Pclass','Sex','Age']]
X.head()

   Pclass     Sex   Age
0       3    male  22.0
1       1  female  38.0
2       3  female  26.0
3       1  female  35.0
4       3    male  35.0

In [53]:
Y=df.Survived
Y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [61]:
dummy=pd.get_dummies(X['Sex'])

In [63]:
X=pd.concat([X,dummy],axis='columns')
X.head()

   Pclass     Sex   Age  Sex  Sex  Sex  Sex  Sex_female  Sex_male
0       3    male  22.0  1.0  1.0  1.0  1.0           0         1
1       1  female  38.0  NaN  NaN  NaN  NaN           1         0
2       3  female  26.0  NaN  NaN  NaN  NaN           1         0
3       1  female  35.0  NaN  NaN  NaN  NaN           1         0
4       3    male  35.0  NaN  NaN  NaN  NaN           0         1

In [64]:
X=X.drop(['Sex'],axis='columns')
X.head()

   Pclass   Age  Sex_female  Sex_male
0       3  22.0           0         1
1       1  38.0           1         0
2       3  26.0           1         0
3       1  35.0           1         0
4       3  35.0           0         1

In [68]:
X=X.fillna(X.Age.mean())
X.isnull().sum()

Pclass        0
Age           0
Sex_female    0
Sex_male      0
dtype: int64

In [84]:
X=X.drop(['Sex_male'],axis='columns')
X.head()

   Pclass   Age  Sex_female
0       3  22.0           0
1       1  38.0           1
2       3  26.0           1
3       1  35.0           1
4       3  35.0           0

In [85]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,Y,test_size=0.2)

In [86]:
from sklearn import tree
model= tree.DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [97]:
model.predict(X_test)

array([0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 1])

In [98]:
model.score(X_test,y_test)

0.8659217877094972